<html>
    <head>
        <style text/css>
            table{
                height: 100%;
                width: 100%;
                background-color: beige
            };
        </style>

    </head>
    <body>
        <div style="height:80%; width:90%; padding:5%; background-color: rgb(184, 209, 184); "> 
            <div style="height: 40%; width: 60%; margin:0% 20%; background-color: beige;">
                <table border="1" align="center">
                    <tr style="height: 20%;">
                        <td align="center" colspan="6" style="width: 100%;background-color:rgb(209, 239, 209);">
                            TIPS
                        </td>
                    </tr>
                    
                    <tr style="height: 60%;">
                        <td align="center"  style="width: 10%;background-color:rgb(209, 239, 209);">
                            word :
                        </td>
                        <td align="center"  style="width: 40%;">
                            {{word}}
                        </td>
                        <td align="center" style="width: 50%; background-color:rgb(209, 239, 209);">
                            {{msg}}<br>
                            
                        </td>
                    </tr>
                    
                    <tr>

                        <form action = "https://176e-42-122-248-60.jp.ngrok.io/select">
                            <td colspan="3" align="center">
                                <input type="submit" value="continue"/>
                            </td>
                        </form>

                    </tr>
                    
                </table>
            </div>
        </div>
    </body>
</html>
