<html>
    <head>
        <style text/css>
            table{
                height: 100%;
                width: 100%;
                background-color: beige
            };
        </style>

    </head>
    <body>
        <div style="height:80%; width:90%; padding:5%; background-color: rgb(184, 209, 184); "> 
            <div style="height: 80%; width: 60%; margin:0% 20%; background-color: beige;">
                <!--<orm action = "http://127.0.0.1:1423/addition/fun" method = "post"> -->
                <form action = "http://127.0.0.1:1423/addition/fun" method = "post">
                    <table border="1" align="center">
                        <tr style="height: 10%;">
                            <td align="center" colspan="6" style="width: 100%;background-color:rgb(209, 239, 209);">
                                {{msg}}
                            </td>
                        </tr>
                        
                        <tr style="height: 20%;">
                            <td align="right"  style="width: 10%;background-color:rgb(209, 239, 209);">
                                word :
                            </td>
                            <td align="center"  style="width: 40%;">
                                <input type="text" placeholder="Please enter a word" name="word" style="width: 100%; height: 100%; background-color: beige ;text-align: center;"/>
                            </td>
                            <td align="right" style="width: 10%;background-color:rgb(209, 239, 209);">
                                root : 
                            </td>
                            <td align="center" style="width: 40%;">
                                <input type="text" placeholder="Please enter the word root" name="roots" style="width: 100%; height: 100%; background-color: beige ;text-align: center;"/>
                            </td>
                        </tr>
                        <tr style="height: 60%;">
                            <td align="right" style="width: 10%;background-color:rgb(209, 239, 209);">
                                paraphrase:
                            </td>
                            <td colspan="3" align="center">
                                <input type="text" placeholder="Please enter the word paraphrase" name="paraphrase" style="width: 100%; height: 100%; background-color: beige ;text-align: center;"/>
                            </td>
                        </tr>
                        <tr style="height: 10%;">
                            <td align="center" colspan="4" style="background-color:rgb(209, 239, 209);">
                                <input type="radio" name="choose" value="break">break
                                <input type="submit" value="submit" />
                            </td>
                        </tr>
                        
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
